{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <!-- search events -->
    <section class="lg:w-[70%] mx-auto -mt-14">
        <form class="container mx-auto bg-white shadow-lg rounded-lg p-6 flex flex-col md:flex-row items-center gap-4 md:gap-6" method="POST" action="">
            {% csrf_token %}
            <input type="date" name="start_date" class="flex-1 px-5 py-3 border border-rose-500 rounded-full focus:outline-none focus:ring-2 focus:ring-rose-400"/>
            <input type="date" name="end_date"  class="flex-1 px-5 py-3 border border-rose-500 rounded-full focus:outline-none focus:ring-2 focus:ring-rose-400"/>
            <button class="px-10 py-3 bg-rose-600 text-white rounded-full font-semibold hover:bg-rose-700 transition"> Search Now </button>
        </form>
    </section>
    {% comment %} show search results {% endcomment %}
    {% if search_results %}
    <section class="mt-5 max-w-7xl mx-auto flex-col space-y-4">
        <h3 class="title text-2xl font-semibold text-rose-500">Search results for {{query}}</h3>
        {% for event in search_results %}
        <a href="{% url "details" event.id %}">
            <div class="flex items-center justify-between p-4 shadow-xl  rounded-lg  bg-pink-300 hover:bg-gradient-to-r hover:from-pink-300 hover:to-rose-300">
                <div class="flex items-center">
                    <div class="flex flex-col">
                    <h3 class="font-semibold text-lg text-gray-800">{{ event.name }}</h3>
                    <div class="flex flex-wrap items-center gap-4 text-sm mt-1">
                        <div class="flex gap-2 items-center">
                            <i class="fa-regular fa-clock text-rose-500"></i>
                            <span>{{ event.time }}</span>
                            <span>{{ event.date }}</span>
                        </div>
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-location-dot text-rose-500"></i>
                            <span>{{ event.location }}</span>
                        </div>

                        {% comment %} Participants {% endcomment %}
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-people-group text-rose-500"></i>
                            <span>150 participants</span>
                        </div>
                    </div>
                    </div>
                </div>

                {% comment %} Right {% endcomment %}
                <div class="flex items-center gap-4">
                    <a href="{% url 'create-participint' %}" class="px-4 py-2 bg-rose-500 text-white rounded-md font-medium hover:bg-rose-900 transition">BOOK NOW</a>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
    {% endif %}

    <!-- Filter Events: -->
     {% if filter_events %}
     <section class="mt-5 max-w-7xl mx-auto flex-col space-y-4">
        <h3 class="title text-center text-3xl font-semibold text-rose-500">Schedule</h3>
        <h1 class="text-center text-4xl font-bold leading-tight">EVENT SCHEDULE</h1>
        <div class="text-center">
            <span class="text-4xl text-rose-500">{{start_time}}</span>
            <span class="text-4xl text-rose-500"> - </span>
            <span class="text-4xl text-rose-500">{{end_time}}</span>
        </div>
        {% for event in filter_events %}
        <a href="{% url 'details' event.id %}">
            <div class="flex items-center justify-between p-4 shadow-xl  rounded-lg  bg-pink-300 hover:bg-gradient-to-r hover:from-pink-300 hover:to-rose-300">
            <div class="flex items-center">
                <div class="flex flex-col">
                <h3 class="font-semibold text-lg text-gray-800">{{ event.name }}</h3>
                <div class="flex flex-wrap items-center gap-4 text-sm mt-1">
                    <div class="flex gap-2 items-center">
                        <i class="fa-regular fa-clock text-rose-500"></i>
                        <span>{{ event.time }}</span>
                        <span>{{ event.date }}</span>
                    </div>
                    <div class="flex gap-2 items-center">
                        <i class="fa-solid fa-location-dot text-rose-500"></i>
                        <span>{{ event.location }}</span>
                    </div>

                    <!-- Participants -->
                    <div class="flex gap-2 items-center">
                        <i class="fa-solid fa-people-group text-rose-500"></i>
                        <span>150 participants</span>
                    </div>
                </div>
                </div>
            </div>
            <!-- Right -->
            <div class="flex items-center gap-4">
                <a href="{% url 'create-participint' %}" class="px-4 py-2 bg-rose-500 text-white rounded-md font-medium hover:bg-rose-900 transition">BOOK NOW</a>
            </div>
            </div>
        </a>
        {% endfor %}
     </section>
     {% endif %}
    <!-- Popular Events -->
    <section class="mt-5  max-w-7xl mx-auto">
        <h3 class="title text-center text-3xl font-semibold text-rose-500">Event</h3>
        <h1 class="text-center text-4xl font-bold leading-tight">POPULAR EVENT</h1>
        <div class="catetory_btn mt-3">
            <ul class="flex gap-5 justify-center flex-wrap">
                {% if catetorys %}
                    {% for category in catetorys %}
                    <li><a href="{% url 'home' %}?type={{category.name}}" class="hover:text-rose-500 font-semibold rounded-lg px-5 py-2 border-2 border-transparent hover:border-2 hover:border-rose-500 ">{{category.name}}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <!-- all Events Cards -->
        <div class="catetory_wise_events mt-8 grid justify-center md:grid-cols-2 lg:grid-cols-3 gap-5 ">
            <!-- card 1 -->
             {% if events %}
             {% for event  in events %}
             <div class="w-full">
                <a href="{% url 'details' event.id %}" class="card max-w-sm bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition">
                    <div class="card_header relative">
                        <img src="{% static 'images/ev-md1.png' %}" alt="" class="w-full h-56 object-cover" />
                        <span class="absolute bottom-3 left-3 bg-rose-600 text-white px-4 py-1 rounded-md text-sm font-semibold">
                        500 Seat
                        </span>
                    </div>
                    <!-- Card Body -->
                    <div class="card_body p-5 space-y-3 ">
                        <div class="flex items-center justify-between text-gray-500 text-sm">
                        <div class="flex items-center gap-1">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>{{event.date}}</span>
                        </div>
                        <div class="flex items-center gap-1">
                            <i class="fa-solid fa-location-pin"></i>
                            <span>{{event.location}}</span>
                        </div>
                        </div>
                        <h2 class="text-lg font-semibold text-gray-800 leading-snug"> {{event.name}}</h2>
                    </div>
    
                    <!-- Footer -->
                    <div class="card_footer px-5 py-3 flex items-center justify-between border-t border-gray-100">
                        <a href="{% url 'create-participint' %}" class="text-rose-600 font-semibold hover:underline">Book Now</a>
                        <button class="text-gray-500 hover:text-rose-600 text-xl"><i class="fa-solid fa-share-nodes"></i></button>
                    </div>
                </a>
            </div>
             {% endfor %}
             {% endif %}
        </div>
    </section>
</main>
{% endblock content %}