{% extends "base2.html" %}
{% block content2 %}
<section class="">
    <div class="max-w-7xl m-auto py-6 px-5 rounded-lg bg-transparent border border-neutral-900">
        <div class="flex justify-between items-center text-white">
            <div class="font-semibold flex items-center gap-2">
                <strong>All Participants</strong>
            </div>
            <div class="flex gap-2">
                <a href="{% url 'create-participint' %}" class="flex items-center gap-2 bg-stone-900 py-2 rounded-lg px-5 font-semibold cursor-pointer">
                    <i class="fa-solid fa-plus"></i>
                    <span >Create Participants</span>
                </a>
            </div>
        </div>
        <div class="mt-5 mb-3 grid gap-4">
            {% if participants %}
                {% for participant in participants %}
                    <div class="flex items-center justify-between p-4 border border-border rounded-lg bg-transparent  border-neutral-900 hover:bg-stone-950">
                        <div class="flex items-center">
                            <div class="flex flex-col">
                                <h3 class="font-semibold text-white">{{participant.name}}</h3>
                                <div class="flex items-center gap-4 text-gray-400 text-sm  mt-1">
                                    <div class="flex gap-2 items-center ">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        <span class="flex gap-2">
                                            {% for event in participant.event.all %}
                                                <span class="rounded-sm">{{event.name}} </span>
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center gap-4 text-white">
                            {% comment %} {% url 'edit-categprys' categprys.id %} {% endcomment %}
                            <a href="{% url 'edit-participant' participant.id %}" class="edit_btn">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            {% comment %} {% url 'delete-categprys' categprys.id %} {% endcomment %}
                            <a href="{% url 'delete-participant' participant.id %}" class="delete_btn">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock content2 %}
