{% extends "main_base.html" %}
{% block title %}SIGN IN{% endblock title %}
{% block content %}
    {% comment %} non filed errors {% endcomment %}
    <section class="max-w-7xl mx-auto p-5">
        <div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p>{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                {% if messages %}
                    {% for message in messages  %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            {% if form %}
                {% for field in form %}
                    {% comment %} filed errors {% endcomment %}
                    <div>
                        {% if field.errors %}
                            {% for error in field.errors  %}
                                <p>{{error}}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <p>
                        <label for="field_id_for_label">{{field.label}}</label>
                        {{field}}
                    </p>
                {% endfor %}
            {% endif %}
            <button type="submit">SIGN IN</button>
        </form>
    </section>
{% endblock content %}
