{% extends "main_base.html" %}
{% block title %}Events{% endblock title %}
{% block content %}
<section class="max-w-7xl mx-auto"> 
    <!-- all Events Cards -->
     <h1 class="text-2xl font-semibold px-6 pt-6">All Event's</h1>
    <div class="catetory_wise_events mt-8 grid justify-center md:grid-cols-2 lg:grid-cols-3 gap-5 px-6">
        <!-- card 1 -->
            {% if events %}
            {% for event  in events %}
            <div class="w-full">
            <a href="{% url 'details' event.id %}" class="card max-w-sm bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition">
                <div class="card_header relative">
                    <img src="{% if event.image %}
                        {{event.image.url}}
                        {% else %}
                            no images
                    {% endif %}" alt="" class="w-full h-56 object-cover" />
                    <span class="absolute bottom-3 left-3 bg-rose-600 text-white px-4 py-1 rounded-md text-sm font-semibold">
                    500 Seat
                    </span>
                </div>
                <!-- Card Body -->
                <div class="card_body p-5 space-y-3 ">
                    <div class="flex items-center justify-between text-gray-500 text-sm">
                    <div class="flex items-center gap-1">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span>{{event.date}}</span>
                    </div>
                    <div class="flex items-center gap-1">
                        <i class="fa-solid fa-location-pin"></i>
                        <span>{{event.location}}</span>
                    </div>
                    </div>
                    <h2 class="text-lg font-semibold text-gray-800 leading-snug"> {{event.name}}</h2>
                </div>
    
                <!-- Footer -->
                <div class="w-full py-3 flex items-center justify-center border-t border-gray-100">
                    {% if event %}
                    <a href="{% url 'rsvp' event.id %}?next={{ request.path }}" class="text-rose-600 font-semibold hover:underline">Rsvp</a>
                    {% endif %}
                </div>
            </a>
        </div>
            {% endfor %}
            {% endif %}
    </div>
</section>
{% endblock content %}