{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://kit.fontawesome.com/39f0ad8315.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-black">
<header>
    <nav class="py-2">
        <div class="max-w-7xl m-auto flex justify-between items-center">
            <div class="left_nav text-white">
                <h1 class="text-3xl">Organizer Dashboard</h1>
                <p class="text-sm text-gray-400">Monitor your events and Track participant engagement</p>
            </div>
            <div class="right_nav flex gap-5">
                <a href="{% url 'home' %}" class="flex items-center gap-2 bg-blue-500 py-2 px-3 rounded-lg text-white font-bold cursor-pointer">
                    <span >Home</span>
                </a>
                <a href="{% url 'dashboard' %}" class="flex items-center gap-2 bg-blue-500 py-2 px-3 rounded-lg text-white font-bold cursor-pointer">
                    <span >Events</span>
                </a>
                <a href="{% url 'category' %}" class="flex items-center gap-2 bg-blue-500 py-2 px-3 rounded-lg text-white font-bold cursor-pointer">
                    <span >Category</span>
                </a>
                <a href="{% url 'participant' %}" class="flex items-center gap-2 bg-blue-500 py-2 px-3 rounded-lg text-white font-bold cursor-pointer">
                    <span >Participants</span>
                </a>
            </div>
        </div>
    </nav>
</header>
{% block content2 %}

{% endblock content2 %}
</body>
</html>